Source: userspace-resource-manager
Section: libs
Priority: optional
Maintainer: URM Maintainers <Maintainers.userspace-resource-moderator@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 dh-sequence-cmake,
 cmake,
 libglib2.0-dev,
 libsystemd-dev,
 libyaml-dev,
 pkgconf,
Standards-Version: 4.6.2
Homepage: https://github.com/qualcomm/userspace-resource-manager

Package: userspace-resource-manager
Architecture: any
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: System Resource Provisioning Framework
 Userspace Resource Manager is a lightweight framework to dynamically provison
 of system resources like CPU, memory, Gpu, I/O, etc. It leverages kernel
 interfaces like procfs, sysfs and cgroups to infleunce the resource usage to
 ensure power and performance of applications.

Package: liburm-dev
Architecture: any
Section: libdevel
Depends:
 userspace-resource-manager (= ${binary:Version}),
 ${misc:Depends},
Description: System Resource Provisioning Framework - development files
 Userspace Resource Manager is a lightweight framework to dynamically provison
 of system resources like CPU, memory, Gpu, I/O, etc. It leverages kernel
 interfaces like procfs, sysfs and cgroups to infleunce the resource usage to
 ensure power and performance of applications.
 .
 This package contains the header files and shared library development symlinks
 needed to build applications and extension plugins against URM.

Package: userspace-resource-manager-tests
Architecture: any
Section: libs
Depends:
 userspace-resource-manager (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Provides test binaries and custom configurations, plugins to test
 end-to-end URM functionality.
