#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_TESTS=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_installsystemd:
	dh_installsystemd --name=urm
